<div class="slider">
    <img src="../../../assets/img/home/carrossel1.png" alt="" class="img-slide" id="slide">
</div>

<div class="footer">
    <h2 class="sub-title">Veja Tambem: </h2>

    <ul class="referencias">
        <a href="http://agencia.fapesp.br/muito-alem-da-nutricao/21868/" target="_blank"><li class="links">Muito Além da Nutrição - Agência FAPESP</li></a>
        <a href="https://incrivel.club/criatividade-receitas/10-receitas-saudaveis-para-iniciantes-na-cozinha-264510/" target="_blank"><li class="links">10 Receitas Saudaveis para iniciantes</li></a>
        <a href="https://www.grupovivosabor.com.br/novidades/boa-alimentacao-e-atividades-fisicas/" target="_blank"><li class="links">Boa Alimentação e Atividades Fisicas</li></a>
    </ul>
</div>
