@import "../../../assets/scss/mixins";
@import "../../../assets/scss/placeholder";

.corpo{
    background-color: white;
    border: 5px solid #2CA05A;
    border-top: 1px solid black;
}

.conteudo{
    @include div(95%, none, white, auto, none);
    box-shadow: 1px 4px 4px 1px rgb(219, 219, 219);
    margin: {
        bottom: 15px;
    };
}

.title{
    @extend %title;
}

// receita

.nome-receita{
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
    color: white;
}

.receita{
    @include div(60%, none, midnightblue, auto, 1px solid black);
    margin: {
        top: 20px;
        bottom: 20px;
    };
}

.img-receita{
    @include image(100%, none, none);
}

.icon{
    position: relative;
    margin: {
        bottom: 20px;
    };
}

h3{
    text-align: center;
    @extend %receita;
}

// div ingredientes

.ingredientes{
    @include div(100%, 100%, rgb(88, 3, 17), none, none);
}

// div modo de preparo

.preparo{
    @include div(100%, 100%, rgb(38, 59, 78), none, none);
}

// lista dos ingredintes e do modo de preparo

.lista{
    list-style: none;
}

.list{
    @extend %receita;
    text-align: justify;
}

// sem Resultados

.no-results{
    @include div(50%, none, rgb(212, 198, 198), auto, 1px solid black);
    padding: 10px;
    margin: {
        bottom: 20px;
    };
}

.text{
    @extend %text;
}
