<div class="corpo">
    <div class="conteudo"><br>
        <h1 class="title">Como manter uma alimentação saudável no dia a dia</h1>

        <img src="../../../assets/img/dicas/dicas-alimentacao-saudavel.jpg" alt="" class="img-dicas">

        <p class="texto">Manter uma alimentação saudável na correria do dia a dia tem muito a ver com disciplina. 
        Comprar os ingredientes de produtores locais ou lojas que você confia e produzir suas refeições em casa é uma 
        forma de garantir a qualidade do que você ingere. Mas, se comer fora de casa é uma realidade para você, então é 
        essencial que você escolha restaurantes que sirvam pratos feitos na hora e tenham opções saudáveis, como arroz 
        integral e uma boa variedade de saladas e verduras. E claro, pule a sobremesa e o refrigerante.</p>

        <h2 class="sub-title">Sugestão de Cardápio</h2>

        <app-refeicoes></app-refeicoes>

        <h2 class="sub-title">10 dicas para uma alimentação saudável</h2>

        <p class="texto">Diferente do que você possa imaginar, ter uma alimentação balanceada não é uma tarefa tão difícil. 
        Você precisa seguir três regras básicas: <strong>consumir variedade, com qualidade e moderação</strong>. 
        Isso é possível com disciplina e consciência do que realmente é necessário para o seu organismo.

        <h3 class="dica">1 - Consuma alimentos In natura</h3>
        <p class="dica-text">Alimentos in natura ou minimamente processados, de origem vegetal, são a base da alimentação balanceada. 
        Inclua no cardápio: feijões, castanhas, tubérculos, grãos, frutas, legumes e verduras.</p>

        <h3 class="dica">2 - Evite o excesso de sal, açúcar, óleos e gorduras</h3>
        <p class="dica-text">Utilize sal, açúcar, óleos e gorduras em pequenas quantidades. O consumo excessivo de açúcar contribui para a 
        obesidade; já o uso indevido de sal, óleos e gorduras pode aumentar o risco de hipertensão arterial e doenças do coração.</p>

        <h3 class="dica">3 - Evite alimentos ultraprocessados</h3>
        <p class="dica-text">O processo natural de fabricação dos alimentos prontos inclui, em geral, altas quantidades de sal, açúcar, óleos 
        e gorduras. Além disso, também trazem outras substâncias de uso industrial e sintetizadas em laboratório a partir de fontes como petróleo 
        e carvão, que não favorecem a alimentação balanceada.</p>

        <h4 class="sub-dica">Por isso evite alimentos como: </h4>
        <ul id="lista-evitar"><br>
            <li class="alimentos">Salgadinhos</li>
            <li class="alimentos">Bolachas Recheadas</li>
            <li class="alimentos">Mistura de Bolo</li>
            <li class="alimentos">Macarrão Instantâneo</li>
            <li class="alimentos">Sopa em Pô</li>
            <li class="alimentos">Tempero Pronto</li>
            <li class="alimentos">Refrigerantes</li>
        </ul>

        <h3 class="dica">4 - Consuma alimentos funcionais</h3>
        <p class="dica-text">Os alimentos funcionais são aqueles que ajudam a prevenir ou a reduzir o risco de algumas doenças. Soja e peixe, 
        por exemplo, auxiliam a reduzir o colesterol ruim; castanhas, amêndoas, nozes, cebola e alho, auxiliam o sistema imunológico; já couve, 
        repolho e brócolis, podem proteger contra alguns tipos de câncer.</p>

        <h3 class="dica">5 - Inclua fibras na alimentação</h3>
        <p class="dica-text">Estudos indicam que alimentos ricos em fibras, como o arroz integral, ajudam a reduzir o risco de alguns tipos de 
        câncer e doenças cardiovasculares. Além disso, eles promovem a saciedade e auxiliam no controle do peso corporal.</p>

        <h3 class="dica">6 - Faça um cardápio semanal</h3>
        <p class="dica-text">Crie um plano semanal com o cardápio da semana. Isso ajudará a organizar a alimentação aos longos dos dias e evitará 
        o consumo de alimentos prontos e ultraprocessados.</p>

        <h3 class="dica">7 - Faça lista de supermercado</h3>
        <p class="dica-text">Com o plano semanal em mãos, escolha um dia da semana para ir à feira e ao supermercado. Faça uma lista de compras 
        para te ajudar a não incluir no carrinho itens que não vão contribuir para a sua saúde.</p>

        <h3 class="dica">8 - Tenha um café da manhã equilibrado</h3>
        <p class="dica-text">Suas escolhas saudáveis começam pela manhã com um café da manhã composto por alimentos como pão integral, cereais, 
        tapioca, ovo, iogurte, queijo e frutas. Além de nutrir o organismo, eles te darão a energia que precisa para iniciar o dia bem-disposto.
        </p>

        <h3 class="dica">9 - Faça refeições intermediárias</h3>
        <p class="dica-text">Comer de três em três horas favorece o bom funcionamento do intestino. Inclua nos intervalos entre as refeições, 
        alimentos saudáveis, como frutas frescas, iogurte natural, castanhas e nozes.</p>

        <h3 class="dica">10 - Atenção plena ao comer</h3>
        <p class="dica-text">Tente se concentrar enquanto realiza suas refeições. Comer enquanto assiste TV ou acessar o celular pode fazer com 
        que você consuma além do necessário. Além disso, utilize esse momento para sentir a textura e o sabor dos alimentos e apreciar cada 
        mordida.</p>

        <h2 class="sub-title">O papel da água</h2>

        <p class="texto">A água é essencial para o transporte de nutrientes no organismo e a hidratação. 
        A orientação é ingerir 30 ml de água por quilo de peso no dia, o que equivale a cerca de dois ou 
        três litros de água <strong>por dia</strong>. A água não deve ser substituída por refrigerantes, sucos, 
        especialmente os industrializados, e muito menos bebidas alcoólicas.</p>

        <h2 class="sub-title">Conclusão</h2>

        <p class="texto">Como vimos, a base de uma alimentação saudável é a escolha adequada dos alimentos e ingredientes. Evitar ao máximo 
        alimentos ultraprocessados e optar pelos alimentos em sua forma mais natural, respeitando as regiões e estações de produção e colheita, 
        é fundamental.</p>

        <p class="texto">Procure pequenos produtores da sua região para comprar seus alimentos. Faça em casa, o máximo que puder, o preparo de 
        suas refeições. Você vai perceber que, além de mais saudável, não há nada mais gostoso do que uma comida com gosto de casa.
        Valorize os alimentos que você ingere, pois, assim, você estará valorizando o seu corpo e a sua saúde. “<em>Você é o que 
        você come</em>”, já ouviu essa frase?.</p>

        <p class="texto">Então, reveja os seus hábitos alimentares para construir uma relação mais saudável e positiva com os alimentos. 
        Você ganhará em disposição, energia, qualidade de vida e, não temos dúvidas, paladar.</p>

    </div>
</div>

<app-footer></app-footer>
