<div class="corpo">
    <div class="conteudo"><br>

        <h1 class="title">Estudos epidemiológicos de alimentos: a busca por uma alimentação mais saudável</h1>

        <h2 class="sub-title">Saiba por que esses estudos podem ser tão importantes</h2>

        <img src="../../../assets/img/ciencia/estudos_epidemiologicos.jpg" alt="" class="img-ciencia">

        <p class="texto">O consumo de alimentos de origem vegetal tem crescido, principalmente devido 
        à busca por uma alimentação mais saudável. Frutas e hortaliças, além de fornecerem componentes 
        importantes para que o organismo desempenhe funções básicas, são fontes de compostos bioativos
        diretamente associados à prevenção de doenças. A menor incidência de doenças crônicas não 
        transmissíveis, como o câncer e doenças cardiovasculares, em grupos de pessoas que consomem 
        uma grande variedade de vegetais já é conhecida há mais de dois mil anos, mas estudos 
        epidemiológicos só foram realizados a partir de 1930.</p>

        <h3 class="sub-title">Estudos epidemiológicos</h3>

        <p class="texto">Os estudos epidemiológicos têm como objetivo evidenciar o papel de uma determinada 
        substância para a saúde. Ou seja, são verificados quais os malefícios e benefícios da mesma. Após 
        as constatações, ocorrem os estudos in vitro (ocorrem fora de sistemas vivos) e in vivo (ocorrem 
        dentro de um organismo) para testar as hipóteses geradas. Por fim, a afirmação só será conclusiva 
        quando houver comprovação baseada em estudos clínicos de intervenção rigorosamente controlados.</p>
        
        <p class="texto">Um estudo epidemiológico muito conhecido é o da <em>Dieta do Mediterrâneo</em> - trata-se de um conjunto 
        de hábitos alimentares tradicionais adotados por pessoas que habitam a região do Mediterrâneo 
        (Europa meridional, norte da África e oeste da Ásia). A dieta é caracterizada por um elevado 
        consumo de produtos de origem vegetal, de azeite e de peixe; pouca ingestão de carne vermelha; 
        e moderado consumo de queijos e vinho. E tudo costuma ser bem fresco. Os alimentos citados são 
        ricos em compostos antioxidantes, gorduras monoinsaturadas (protetoras contra doenças cardíacas),
        gorduras poliinsaturadas, ômega 3 e fitonutrientes.</p>

        <p class="texto">Uma serie de estudos vêm sendo realizados com o objetivo de esmiuçar a composição química 
        dos alimentos que têm relação direta tanto com a qualidade sensorial – cor, textura e sabor – 
        quanto com os efeitos fisiológicos no organismo. Essas pesquisas também descobrem novos compostos 
        e evidenciam os benefícios de compostos já associados à melhoria da saúde. Tais estudos fazem 
        parte de duas das quatro subáreas dos Centros de Pesquisas, Inovação e Difusão (CEPIDs), 
        apoiados pela <strong>Fundação de Amparo à Pesquisa do Estados de São Paulo</strong> (Fapesp).</p>

        <p class="texto">Segundo Franco Maria Lajolo, há estudos epidemiológicos que associam o 
        consumo de vegetais a um menor risco de desenvolver doenças, mas são raros os ensaios clínicos 
        de intervenção, nos quais um alimento é dado ao paciente para verificar seu efeito na saúde e 
        estudar os mecanismos envolvidos nessa ação biológica. Uma vez comprovado o efeito biológico <em>in 
        vivo</em>, será possível aplicar o conhecimento de diferentes maneiras. Umas delas é selecionar 
        variedades de plantas que produzam quantidades maiores do composto bioativo de interesse. Outra 
        possibilidade é desenvolver processos tecnológicos para processar o alimento sem comprometer suas 
        propriedades funcionais. Além disso, torna-se possível calcular o quanto é preciso ingerir de um 
        determinado alimento para se obter o beneficio à saúde.</p><br>

        <img src="../../../assets/img/ciencia/alimentos-de-origem-vegetal.jpg" alt="" class="img-ciencia">

        <p class="texto">Apesar das pesquisas ainda não serem conclusivas sobre os benefícios do 
        consumo de alimentos origem vegetal, está claro que uma dieta equilibrada e rica nesses 
        produtos traz muitos benefícios, proporcionando maior bem-estar do individuo, dando mais 
        disposição e energia, o que contribui para uma melhoria da qualidade de vida. Outro fator 
        importante a ser desenvolvido é a conscientização quanto aos benefícios do consumo de frutas 
        e hortaliças (principalmente as orgânicas), assim como de educação nutricional, desde a fase 
        escolar, para que haja ainda mais a diminuição do consumo de alimentos com alta densidade 
        energética e baixa densidade nutricional e aumento do consumo de alimentos mais nutritivos.</p><br>

        <h1 class="title">Alimentação e exercício físico para qualidade de vida</h1>

        <img src="../../../assets/img/ciencia/alimentacao_treino.jpg" alt="" class="img-ciencia">

        <p class="texto">De acordo com a <strong>Organização Mundial da Saúde</strong> (OMS) para uma boa 
        qualidade de vida devemos ser fisicamente ativos, que quando quantificado em números, gira em torno 
        de 150 minutos de exercícios físicos semanais. Esses minutos podem ser distribuídos de forma 
        conveniente para o praticante. Mas, o mais importante é ter uma vida ativa. De pouco adianta 
        realizar exercícios durante uma hora por dia e passar grande parte da sua rotina diária de 
        modo sedentário. Ou seja, suba escadas ao invés de pegar o elevador, vá à padaria a pé ao 
        invés de ir de carro. Torne o seu dia mais ativo!</p>

        <p class="texto">Em contra partida temos a alimentação. É de praxe as pessoas se preocuparem 
        com o que vão ingerir antes e depois do treino e se “esquecerem” das outras refeições. Para 
        ter uma boa qualidade de vida, a gente precisa manter o equilíbrio entre as fontes de energia 
        em todas as refeições e em todos os dias da semana. Obviamente, que é praticamente impossível, 
        manter-se totalmente regrado sempre, porém é importante ressaltar que somos o resultado de nossos 
        hábitos. Logo, se temos hábitos saudáveis, seremos pessoas saudáveis.</p>

        <h2 class="sub-title">Montando uma alimentação para atividade física</h2>

        <p class="texto">O único profissional apto para descrever com propriedade o que devemos ou não 
        comer e as quantidades adequadas é o <strong>nutricionista</strong>. Porém, há alguns consensos em relação a 
        hábitos saudáveis que se colocarmos em prática já teremos uma grande melhora na nossa saúde. 
        Lembrando que assim como o treino, o plano alimentar, para uma melhor eficiência deve ser individualizado. 
        Assim, os resultados são mais eficazes e em um tempo mais curto. Mais uma justificativa para que aquelas 
        dietas genéricas que todos fazem produzem um efeito sanfona ou simplesmente não possuem nenhum 
        efeito. Somos todos diferentes, com necessidades diferentes e devemos respeitar o nosso corpo e 
        seus limites.</p>

        <h3 class="treino">Como deve ser a alimentação antes do exercício físico?</h3>

        <p class="treino-text">A dieta mais adequada antes de realizar o exercício físico precisa 
        conter substratos suficientes para ser fonte de energia alternativa. Ou seja, ser capaz de ter 
        energia para manter o nível de intensidade do treino. Assim, essas fontes armazenadas, farão com 
        que as reservas sejam preservadas tendo como consequência o aumento do fluxo sanguíneo.
        O exercício físico é uma atividade muito intensa para nosso corpo e demanda um gasto energético 
        bem elevado. Por isso é necessário que antes da atividade a gente ingira uma quantidade importante 
        de carboidratos. Assim, o organismo tem suporte para manter a queima calórica utilizando a gordura 
        como substrato energético, pois haverá mais oxigênio disponível.</p>

        <h3 class="treino">Como deve ser a alimentação depois do exercício físico?</h3>

        <p class="treino-text">Muitas pessoas, comumente comentem o erro de fazer uma má alimentação 
        após o treino. Isso pode afetar tanto os resultados para quem quer ganhos em hipertrofia como 
        quem quer emagrecer. E isso é ruim, porque se o corpo não recebe os nutrientes adequados após o 
        treino, a recuperação (ressíntese) acontece de forma prejudicada, atrapalhando nos resultados.
        Alguns especialistas recomendam a ingestão de proteínas após o treino, devido a uma “janela” 
        nos primeiros 30 minutos após o treino (de força) onde há maior utilização desse substrato para 
        a síntese proteica, aumentado assim o volume muscular.</p>

        <h2 class="sub-title">Conclusão</h2>

        <p class="texto">Através deste guia, podemos concluir que uma alimentação é muito mais complexa 
        do que somente se sentar a mesa e ingerir os alimentos que temos disponíveis. É necessário equilibrar 
        a ingestão de nutrientes com a nossa demanda energética para que a gente não tenha falta ou excesso 
        de nutrientes. Nenhum extremo é saudável. E não deixei de praticar exercícios físicos para a 
        manutenção e ganho de massa magra e melhorar a capacidade cardiopulmonar. Por fim, tenha uma 
        vida ativa. Ande, pedale, suba as escadas, não fique muitas horas sentado, ou na mesma posição. 
        Lembre-se: precisamos manter o equilíbrio entre uma boa alimentação e atividade física.</p>

    </div>
</div>

<app-footer></app-footer>