<table id="refeicoes">
    <tr class="par">
        <td class="refer">Refeição</td>
        <td class="refer">Sugestão</td>
    </tr>
    <tr class="impar">
        <td class="refeicao">Café da Manhã</td>
        <td class="sugestao">Invista em frutas, cereais, pães integrais e oleaginosas. Para 
        beber: sucos naturais, água de coco, chás, leite ou café. Um café da manhã ideal pode 
        ter 20% do consumo diário, cerca de 400 kcal.</td>
    </tr>
    <tr class="par">
        <td class="refeicao">Lanche da Manhã</td>
        <td class="sugestao">Esta refeição deve ser leve e rápida, com alimentos de baixo índice 
        glicêmico (devagar absorção). Invista em frutas, oleaginosas, alimentos naturais e integrais. 
        Para beber: sucos naturais, chás ou água de coco. O lanche da manhã ideal pode ter 5% do 
        consumo diário, cerca de 100 kcal.</td>
    </tr>
    <tr class="impar">
        <td class="refeicao">Almoço</td>
        <td class="sugestao">O prato recomendado para o almoço é dividido em quatro partes: duas partes 
        preenchidas com saladas e legumes, uma parte com fontes de carboidrato e uma parte com fontes de 
        proteína. Para beber: sucos naturais ou chás. O almoço ideal pode ter 30% do consumo diário, cerca 
        de 600 kcal.</td>
    </tr>
    <tr class="par">
        <td class="refeicao">Lanche da tarde</td>
        <td class="sugestao">Faça lanches que contenham carboidrato, proteína e gordura boa. Dê 
        preferência aos alimentos naturais e integrais. Outras boas sugestões são as frutas secas, 
        cereais ou castanhas. Para beber: café, chás ou iogurtes. O lanche da tarde pode ter 15% do 
        consumo diário, cerca de 300 kcal.</td>
    </tr>
    <tr class="impar">
        <td class="refeicao">Jantar</td>
        <td class="sugestao">Carboidratos, proteínas (de digestão simples), gorduras, vitaminas e 
        minerais devem ser fornecidos adequadamente. Frutas e legumes são bons alimentos para essa 
        refeição. Para beber: sucos naturais e chás. A janta pode ter 25% do consumo diário, 500 kcal.</td>
    </tr>
    <tr class="par">
        <td class="refeicao">Ceia</td>
        <td class="sugestao">Escolha um lanche rico em proteína. se quiser, pode adicionar uma fruta, 
        que é um carboidrato leve ou, no máximo, 1 torrada integral. A ceia pode ter 5% do consumo 
        diário, 100 kcal.</td>
    </tr>
</table>
